.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
}

body {
    background: url("./journey-login-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-self {
    margin: auto;
}

.display-flex {
    display: flex;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.padding-top-container {
    padding-top: 70px;
}

.feedItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedItemContainer:first-child {
    padding-bottom: 20px;    
}

.title {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 24px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-right: 10px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.width-100 {
    width: 100%;
}

.search {
    float: left;
    background-color: #ebeef4 !important;
    border-color: #000000 !important;
    width: 100% !important;
    border: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.loader {
    border: 16px solid #b5b4b4;
    border-top: 16px solid #3d4246;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.feedItemInput {
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 78px;
    background-color: #ebeef4 !important;
    border-color: #000000 !important;
    resize: none !important;
    color: black !important;
    border: 0px;
}

.row{
    border-top: 1px solid lightgray;
}

.padding-15 {
    padding: 15px;
}

.content-width {
    width: 50%;
}

@media (max-width: 1280px) {
    .content-width {
        width: 55%;
    }
}

.createFeedItemButton {
    float: right;
    color: #232629;
    background-color: #d4d5d8;
    border-color: 2px solid #232629;
    font-size: 14px;
    cursor: pointer;
}

.createFeedItemButton:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(62, 82, 99, 0.25);
    box-shadow: 0 0 0 2px rgba(62, 82, 99, 0.25);
}

.feedItemBackground {
    background-color: #ebeef4;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
}

.feedItemBackground > .display-flex > * {
    margin: 5px;
    padding: 5px;
}

.feedItemDetails {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Calibri";
}

.flex-direction-column {
    flex-direction: column;
}

.iconLabel {
    padding-left: 5px;
}

.feedItemButton {
    cursor: pointer;
}

.feedItemButton:hover {
    text-decoration: underline;
}

.feedItemDetails > i {
    font-size: 11px;
}

.height-100vh {
    height: 100vh;
}

.feedItemIconsContainer {
    display: flex;
    flex-direction: row-reverse;
}

.padding-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.commentsContainer {
    background-color: #d1d8e7;
}

.commentsContainer > .display-flex {
    border-bottom: 1px solid #a3a7b1;
}

.writeCommentBar {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5px;
}

.padding-5 {
    padding: 5px;
}

.margin-5 {
    margin: 5px;
}

.addCommentTextField:focus {
    border: 1px solid rgba(0,0,0,.15);
}

.border-radius-8{
    border-radius: 8px;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.liked {
    color: #464d84;
}

.not-found {
    text-align: center;
    color: white;
}

.position-relative {
    position: relative;
}

.profile-name-bar {
    width: 100%;
    border-radius: 1px;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.profile-name {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    background-color: #f4f8ff;
    border: 1px solid #292b2c;
}

.profile-statistics-container {
    float: right;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.profile-statistics-triangle {
    width: 0;
    height: 0;
    border-bottom: 68px solid transparent;
    border-right: 57px solid #d5d5d5;
    position: relative;
}

.profile-statistics-triangle:before {
    content: " ";
    position: absolute;
    z-index: -1;
    border-bottom: 70px solid transparent;
    border-right: 59px solid #292b2c;
    left: -2px;
    top: -1px;
}

.profile-statistics {
    padding: 10px;
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    position: relative
}

.profile-statistics:before {
    content: " ";
    position: absolute;
    z-index: -1;
    border-top: 1px solid #292b2c;
    border-right: 1px solid #292b2c;
    border-bottom: 1px solid #292b2c;
    left: 0;
    top: -1px;
    right: -1px;
    bottom: -1px;
}

.profile-image {
    border: 1px solid #292b2c;
}

.static-profile-top {
    position: fixed;
    width: inherit;
    z-index: 2;
}

.width-inherit {
    width: inherit;
}

.margin-left-5-percent {
    margin-left: 5%;
}

.margin-top-4-pixels {
    margin-top: 4px;
}

.padding-top-30-pixels {
    padding-top: 30px;
}

.z-index-1 {
    z-index: 1;
}

.profile-avatar-container {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
}

.profile-avatar-container:hover > .change-image {
    visibility: visible;
}

.change-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebeef4;
    display: flex;
    visibility: hidden;
}

.padding-top-10-pixels {
    padding-top: 10px;
}

.float-right {
    float: right;
}

.static-profile-top-position {
    top: 10%;
}

@media (max-width: 1280px) {
    .static-profile-top-position {
        top: 16%;
    }
}

@media (max-width: 992px) {
    .static-profile-top-position {
        top: 140px;
    }

    .padding-top-container {
        padding-top: 110px;
    }
    .createFeedItemButton {
        width: 80px;
        float: right;
        color: #232629;
        background-color: #d4d5d8;
        border-color: 2px solid #232629;
        font-size: 14px;
        cursor: pointer;
    }

    .profile-name {
        text-align: center;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        background-color: #f4f8ff;
        border: 1px solid #292b2c;
    }
}

@media (max-width: 700px) {
    .profile-name {
        text-align: center;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        background-color: #f4f8ff;
        border: 1px solid #292b2c;
    }
}

@media (max-width: 500px) {
    .profile-name {
        text-align: center;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        background-color: #f4f8ff;
        border: 1px solid #292b2c;
    }
}

.redirect-text {
    cursor: pointer;
}

.redirect-text:hover {
    color: inherit !important;
    text-decoration: underline !important;
}

@media (max-width: 1280px) {
    .container {
        width: 960px !important;
        max-width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
}

.dropzone {
    width: 200px;
    height: 200px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.register-test {
    float: right;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.search-results-container {
    width: 100%;
    position: absolute;
    top: 40px;
    color: black;
    background-color: #ebeef4;
    border-radius: .25rem;
    height: 200px;
    overflow-y: auto;
    border: 1px solid black;
}

.search-result {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-result:hover {
    background-color: #d7d7d7;
}